spring:
  profiles:
    active: dev

#feign:
#  client:
#    config:
#      inventory-service:
#        url: ${INVENTORY_SERVICE_URL:http://localhost:8081}

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health
